body {
    width: 100vw;
    height: 100vh;
    margin: 0;

    background: linear-gradient(165deg, hsla(243, 100%, 7%, 0.7) 0%, hsla(240, 86%, 25%, 0.65) 31%, hsla(201, 67%, 33%, 0.8) 100%),
                url("../img/background.jpg") no-repeat center center / cover;

}

nav ul, li {
    display: inline;
}

nav a {
    text-decoration: none;
    padding: 0.3em 1em;
    border: 1px solid black;
}

h1 {
    font-family:'Courier New', Courier, monospace;
    font-size: 5em;
    font-weight: 300;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

#slogan {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: 400;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

#progress {
    width: 40%;
    height: 50px;
    background-color: #ffffff;
    border:2px solid #ffffff;
    border-radius: 0.2em;
    margin: 0 auto;
    box-shadow: 1px 1px 4px 1px rgb(143, 143, 143);
    display: flex;
    align-items: center;
}

#progress div{
    width: 90%;
    height: 15px;
    background-color: rgb(187, 187, 187);
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    align-items: center;
}

#progress div div {
    width: 75%;
    height: 13px;
    background-color: hsl(240, 86%, 50%);
    margin-left: 0px;
}