body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;

    background: linear-gradient(165deg, hsla(243, 100%, 7%, 0.7) 0%, hsla(240, 86%, 25%, 0.65) 31%, hsla(201, 67%, 33%, 0.8) 100%),
                url("../img/background.jpg") no-repeat center center / cover;
                
}



nav {
    display: flex;
    justify-content: space-between;
}


nav ul {
    display: flex;
    flex: 1;
    max-width: 30%;
    justify-content: space-evenly;
    list-style: none;
    padding-inline-start: 0;
}

nav li {
    display: inline;
   
}

nav a {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: #303030;
    font-size: 1.3em;
    padding: 0.2em 0.7em;
    margin: 10px;
    background-color: #ffffff;
    transition: 0.2s ease-in-out;
    border: 2px solid hsla(0, 0%, 100%, 1);
}

nav a:hover {
    background-color: hsl(240, 86%, 50%);
    color: #ffffff;
    transform: translateY(-0.15em);
}

h1 {
    font-family:'Courier New', Courier, monospace;
    font-size: 5em;
    font-weight: 300;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

#slogan {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: 400;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

#progress {
    width: 40%;
    height: 50px;
    background-color: #ffffff;
    border:2px solid #ffffff;
    border-radius: 0.2em;
    margin: 0 auto;
    box-shadow: 1px 0.5px 8px rgb(51, 51, 51);
    display: flex;
    align-items: center;
}

#progress div{
    width: 90%;
    height: 15px;
    background-color: rgb(187, 187, 187);
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    align-items: center;
}

#progress div div {
    width: 25%;
    height: 13px;
    background-color: hsl(240, 86%, 50%);
    margin-left: 0px;
    transition: 1s;
}

#progress div div:hover {
    width: 100%;
    margin-right: 0px;
}

.pricing-img {
    width: 20%;
    margin-bottom: 25px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.panel {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: row;
    text-align: center;
    text-transform: uppercase;
}

.pricing-plan {
    border-bottom: 2px solid #e1f1ff;
    padding-top: 30px;
}

/* .pricing-plan:last-child{
    border-bottom: none;
} */

ul {
padding-inline-start: 0;
}

li {
    list-style: none;

}

.pricing-header {
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: #616161;
}

.pricing-features {
/* margin: 50px 0 25px; */
color: hsl(240, 86%, 50%);
font-family:'Courier New', Courier, monospace;

}

.pricing-features-item {
    letter-spacing: 1px;
    line-height: 2;
    font-weight: 600;
    font-size: 1.3em;
    padding: 10px 0;
    border-top: 2px solid #e1f1ff;
}

.pricing-features-item:nth-of-type(2) {
    font-weight: 100;
    font-size: 1em;
    border-bottom: 2px solid #e1f1ff;
}

.pricing-price {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: 600;
    color: #F76E11;
    display: block;
}

.pricing-button {
    border: 1px solid hsl(240, 86%, 60%);
    border-radius: 0.5em;
    color: hsl(240, 86%, 50%);
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    margin: 25px 0;
    transition: 200ms ease-in-out;

}

.pricing-button:hover, .pricing-button:focus{
background-color: hsl(240, 86%, 50%);
color: white;
}